<%- include('partials/header') %>

<div class="container" style="padding-top: 90px;">
    <div class="row">
        <aside class="col-md-3">
            <h2>Coming soon</h2>
            <p>BIG UPDATE. BIG UPDATE. BIG UPDATE</p>
        </aside>
        <section class="main col-md-9">
            <article>
                <h2>About</h2>
                <p>
                    My name is Jelan Shahi, and I am currently pursuing my studies in Computer Programming at Seneca College.
                    My ultimate goal is to work in the field of big data and machine learning. My fascination with advanced
                    technologies has inspired me to choose this path, and I am excited to develop innovative solutions in this field.
                </p>
                <p>
                    I am originally from Nepal, a small but incredibly beautiful country located in Southeast Asia. I moved to Canada
                    in April 2024, and since then, I've been exploring new experiences while learning about Canadian culture and its people.
                </p>
                <p>
                    Besides technology, I am also actively involved in playing and watching football. I've been playing the game since
                    my childhood, which has helped me stay socially engaged and make new friends. I also enjoy mobile games, particularly
                    open-world games where I can explore new areas.
                </p>
            </article>
        </section>
    </div>
</div>

<%- include('partials/footer') %>
