<body>

    <!-- Include Header -->
    <%- include('partials/header') %>

    <!-- Dynamic Content -->
    <main>
        <%- body %>
    </main>

    <!-- Include Footer -->
    <%- include('partials/footer') %>

</body>

